<script type="text/javascript" src="{{ site.baseUrl }}/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ site.baseUrl }}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseUrl }}/assets/js/main.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135292844-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135292844-1');
</script>
